#board {
    display: block;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: rgb(238, 238, 210);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}